table {
    border-collapse: collapse;  /* Отображать двойные линии как одинарные */
}

th {
    background: #ccc; /* Цвет фона */
    text-align: left; /* Выравнивание по левому краю */
}

td, th {
    border: 1px; /* Параметры границы */
    padding: 4px; /* Поля в ячейках */
}
h5 {
    font-style:italic;
    font-weight:bold;
}